.idea
.env
.sass-cache
chrome-app.zip
npm-debug.log
node_modules
bower_components
public/fonts
public/css
public/js
chrome-app/public/js
sessions
tmp
/public/video/

/cordova/platforms/*/**
/cordova/plugins/*/**
/cordova/www/js/**/*
/cordova/www/fonts/**/*
/cordova/www/img/**/*
/cordova/www/css/**/*
/ops/cert/*